h1{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(69, 24, 24);
    font-size: 32px;
}
p{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(69, 24, 24);
    font-size: 22px;
}